---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const { src, showText } = Astro.props;
const {
  logo_text,
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_text: string;
  logo_width: string;
  logo_height: string;
  title: string;
} = config.site;

const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">

      <Image
        src=/images/se/logo-head.webp
        alt={title}
        width=180
        height=90
        alt="saltire excavation"
      />

  {
    showText != false && (
      <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
        <span style="color: rgb(31, 9, 255);">
          {text ? text : logo_text}
        </span>
      </p>
    )
  }
</a>
