---
import LinkButton from "@/components/LinkButton.astro";
import { markdownify } from "@/lib/utils/textConverter";

const {
  title,
  description,
  button,
} = Astro.props;
---
<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div class="">
      <div class="lg:col-12 mx-auto">
        <div class="mx-auto items-center justify-items-center">
          <div class="lg:col-7 justify-items-center">
            <h2 class="h1 text-text" set:html={markdownify(title)}/>
            {button && <LinkButton {...button} addClasses="mt-8" />}
          </div>
          <div class="mt-8 lg:col-5 lg:mt-0">
            <p class="text-text" set:html={markdownify(description)}/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
