---
import Section from "@/components/core/Section.astro";
import Features from "@/components/Features.astro";
import Testimonial from "@/components/Testimonial.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "index");
// console.log(homepage);
const { banner, sections, features, testimonial } = homepage.data;
const call_to_action = homepage.data.call_to_action;
let backgroundUrl = 'url(/images/se/excavator-2196826_1920.jpg)'
---
<style define:vars={{ backgroundUrl }}>
  section.animate-fade-in {
    background-image: var(--backgroundUrl);
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-position: 50% 50%;
  }
</style>
<Base>
  <!-- banner -->
  <section class="lg:mb-10 animate-fade-in">
    <div class="hero-banner">
      <Section section={banner} />
    </div>
  </section>
  <!-- multi section -->
  {
    sections && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }
  <!-- key features -->
  <hr>
  <Features features={features} />
  <hr><br><br>
  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />
</Base>
