---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Lightbox from '@julian_cataldo/astro-lightbox/LightBox.astro';

const about = await getEntry("our-work", "index");
const page_data = {
  ...about.data,
  content: about.body,
};
const { Content } = await about.render();
let backgroundUrl = 'url(/images/se/hp-banner.webp)'
---
<style define:vars={{ backgroundUrl }}>
  section.animate-fade-in {
    background-image: var(--backgroundUrl);
    background-size: cover;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-position: 50% 50%;
  }
  img,
  video {
    height: auto;
    border-radius: 0.75rem;
  }
  div.row div.col-12 {
    margin-top: 10px;
  }
</style>
<Base
  entry_keys={["our-work", "index"]}
>
  <Lightbox />
  <section class="py-16 animate-fade-in">
    <div class="container">
      <div class="mx-auto max-w-[768px]">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] justify-items-center" data-lightbox="true">
        <video autoplay="true" controls>
          <source src="/video/demo-2.mp4" type="video/webm">
        </video>
      </div>
      <br />
      <br />
      <div class="case-study bg-surface shadow row justify-center rounded-2xl px-[30px] pb-[75px] pt-16 mx-auto max-w-[768px] text-justify">
        <h3>Bushfires</h3>
        <br/><br/>
        <div class="text-lg text-text-secondary">
          Our team was instrumental in the clean up operations following the devastating bushfires in 2019. We helped safely and efficiently clear the aftermath of destroyed homes and structures, ensuring the land was safe for rebuilding.
        </div>
        <p>&nbsp;</p>
        <div class="container items-center">
          <div class="row items-center">
            <div class="col-12 md:col-6 lg:col-3" data-lightbox="true">
              <Image
                src=/images/bush/bush3.webp
                alt="burned out truck"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
            <div class="col-12 md:col-6 lg:col-3" data-lightbox="true">
                <Image
                  src=/images/bush/bush1.webp
                  alt="thank you"
                  width=560
                  height=420
                  alt="saltire excavation"
                />
            </div>
            <div class="col-12 md:col-6 lg:col-3" data-lightbox="true">
              <Image
                src=/images/bush/bush2.webp
                alt="cleared up"
                width=420
                height=420
                alt="saltire excavation"
              />
            </div>
            <div class="col-12 md:col-6 lg:col-3" data-lightbox="true">
              <Image
                src=/images/bush/bush4.webp
                alt="burned out truck"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="case-study bg-surface shadow row justify-center rounded-2xl px-[30px] pb-[75px] pt-16 mx-auto max-w-[768px] text-justify">
        <h3>Project X</h3>
        <br/><br/>
        <div class="text-lg text-text-secondary">
          Our past work includes house demolition and remediation efforts following the devastating bushfires, where we helped safely and efficiently clear the aftermath of destroyed homes and structures.
          Our expertise extends to site cuts, drainage systems, and a broad spectrum of earthmoving tasks, ensuring each project is executed with precision and care. Please take a look at some of our past projects below.
        </div>
        <p>&nbsp;</p>
        <div class="mx-auto max-w-[768px]" data-lightbox="true">
          <video controls>
            <source src="/video/demo-2.webm" type="video/webm">
          </video>
        </div>
        <p>&nbsp;</p>
        <div class="container items-center">
          <div class="row items-center mx-auto">
            <div class="col-12 md:col-6 lg:col-3 mx-auto" data-lightbox="true">
              <Image
                src=/images/project2/proj2-3.webp
                alt="clearance"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
            <div class="col-12 md:col-6 lg:col-3 mx-auto" data-lightbox="true">
              <Image
                src=/images/project2/proj2-1.webp
                alt="clearance"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
            <div class="col-12 md:col-6 lg:col-3 mx-auto" data-lightbox="true">
              <Image
                src=/images/project2/proj2-2.webp
                alt="clearance"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="case-study bg-surface shadow row justify-center rounded-2xl px-[30px] pb-[75px] pt-16 mx-auto max-w-[768px] text-justify">
        <h3>Project Y</h3>
        <br/><br/>
        <div class="text-lg text-text-secondary">
          Our past work includes house demolition and remediation efforts following the devastating bushfires, where we helped safely and efficiently clear the aftermath of destroyed homes and structures.
          Our expertise extends to site cuts, drainage systems, and a broad spectrum of earthmoving tasks, ensuring each project is executed with precision and care. Please take a look at some of our past projects below.
        </div>
        <p>&nbsp;</p>
        <div class="container items-center">
          <div class="row items-center mx-auto">
            <div class="col-12 md:col-6 lg:col-3 mx-auto" data-lightbox="true">
              <Image
                src=/images/project3/img2.webp
                alt="clearance"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
            <div class="col-12 md:col-6 lg:col-3 mx-auto" data-lightbox="true">
              <Image
                src=/images/project3/img1.webp
                alt="clearance"
                width=580
                height=520
                alt="saltire excavation"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
